In [1]:
import numpy as np
import pandas as pd

docs = pd.read_csv('example_train1.csv')

docs

                                            Document      Class
0   MasterDexter is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema

In [2]:
docs['Class'] = docs.Class.map({ 'cinema': 0, 'education': 1 })
docs

                                            Document  Class
0   MasterDexter is a great educational institution.      1
1            Educational greatness depends on ethics      1
2  A story of great ethics and educational greatness      1
3                           Sholey is a great cinema      0
4                   good movie depends on good story      0

In [4]:
numpy_array = docs.to_numpy()

In [5]:
x = numpy_array[:,0]
y = numpy_array[:,1]

y = y.astype('int')
print(x)
print(y)

['MasterDexter is a great educational institution.'
 'Educational greatness depends on ethics'
 'A story of great ethics and educational greatness'
 'Sholey is a great cinema' 'good movie depends on good story']
[1 1 1 0 0]

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()

In [7]:
vec.fit(x)

vec.vocabulary_

{'masterdexter': 10,
 'is': 9,
 'great': 6,
 'educational': 3,
 'institution': 8,
 'greatness': 7,
 'depends': 2,
 'on': 13,
 'ethics': 4,
 'story': 15,
 'of': 12,
 'and': 0,
 'sholey': 14,
 'cinema': 1,
 'good': 5,
 'movie': 11}

In [8]:
vec = CountVectorizer(stop_words='english')

vec.fit(x)

vec.vocabulary_

{'masterdexter': 8,
 'great': 5,
 'educational': 2,
 'institution': 7,
 'greatness': 6,
 'depends': 1,
 'ethics': 3,
 'story': 11,
 'sholey': 10,
 'cinema': 0,
 'good': 4,
 'movie': 9}

In [10]:
vec.get_feature_names_out()

array(['cinema', 'depends', 'educational', 'ethics', 'good', 'great',
       'greatness', 'institution', 'masterdexter', 'movie', 'sholey',
       'story'], dtype=object)

In [11]:
len(vec.get_feature_names_out())

12

In [12]:
xtransform = vec.transform(x)
xtransform

<5x12 sparse matrix of type '<class 'numpy.int64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [13]:
print(xtransform)

  (0, 2)	1
  (0, 5)	1
  (0, 7)	1
  (0, 8)	1
  (1, 1)	1
  (1, 2)	1
  (1, 3)	1
  (1, 6)	1
  (2, 2)	1
  (2, 3)	1
  (2, 5)	1
  (2, 6)	1
  (2, 11)	1
  (3, 0)	1
  (3, 5)	1
  (3, 10)	1
  (4, 1)	1
  (4, 4)	2
  (4, 9)	1
  (4, 11)	1

In [14]:
x = xtransform.toarray()
x

array([[0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0],
       [0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 2, 0, 0, 0, 0, 1, 0, 1]], dtype=int64)

In [15]:
df = pd.DataFrame(x, columns=vec.get_feature_names_out())
df

,cinema,depends,educational,ethics,good,great,greatness,institution,masterdexter,movie,sholey,story
0,0,0,1,0,0,1,0,1,1,0,0,0
1,0,1,1,1,0,0,1,0,0,0,0,0
2,0,0,1,1,0,1,1,0,0,0,0,1
3,1,0,0,0,0,1,0,0,0,0,1,0
4,0,1,0,0,2,0,0,0,0,1,0,1

# Multinomial Naive Bayes

In [18]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()

mnb.fit(x,y)

mnb.predict_proba([[0,1,0,0,2,0,3,0,0,1,0,1]])

array([[0.72595947, 0.27404053]])

In [19]:
from sklearn.naive_bayes import BernoulliNB  # binary classification

bnb = BernoulliNB()

bnb.fit(x,y)

bnb.predict_proba([[0,1,0,0,2,0,3,0,0,1,0,1]])

array([[0.93569924, 0.06430076]])