# Introduction and Basics

Installation

Python Org, Python 3

Variables

Print function

Input from user

Data Types

Type Conversion

First Program

## print function

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello")
print("World")

Hello
World

In [ ]:
# \n -> new line character

# python follows top down approach

In [3]:
print("Hello\nWorld")

Hello
World

In [ ]:
# \t - horizontal tab - space of 8 characters

In [4]:
print("Hello\tWorld")

Hello	World

### Basic print Questions

In [ ]:
*
**
***

In [5]:
print("*")
print("**")
print("***")

*
**
***

In [6]:
print("*\n**\n***")

*
**
***

In [ ]:
name
------8----college
-------16---------city

In [7]:
print("Himanshu\n\tMasterDexter\n\t\tIndore")

Himanshu
	MasterDexter
		Indore

In [ ]:
--4--*
*----8----*
--4--*

In [12]:
print("    *\n*\t*\n    *")

    *
*	*
    *

In [10]:
print(''' 
    *
*       *
    *
''')

    *
*       *
    *

## Variables

Python supports dynamic datatypes

In [ ]:
int a = 10;

In [13]:
a = 10

print(a)

10

In [14]:
b = 10.5

print(b)

10.5

In [15]:
c = "indore"

print(c)

indore

## Data Types

In [ ]:
type()

In [16]:
a = 10

print(a)

print(type(a))

10
<class 'int'>

In [17]:
b = 10.5

print(b)

print(type(b))

10.5
<class 'float'>

In [18]:
c = "Indore"

print(c)

print(type(c))

Indore
<class 'str'>

## User input

In [19]:
a = input()

print(a)

500
500

In [20]:
a = input("Enter a Number: ")

print(a)

Enter a Number: 40
40

## Type Conversion / Casting

In [22]:
a = 75.615465465

print(a)
print(type(a))

b = int(a)

print(b)

print(type(b))

75.615465465
<class 'float'>
75
<class 'int'>

In [23]:
a = "15"

print(a)
print(type(a))

b = int(a)

print(b)

print(type(b))

15
<class 'str'>
15
<class 'int'>

**WAP to enter 2 numbers from user and print addition of them.**

In [24]:
a = input("Enter 1st Number: ")
b = input("Enter 2nd Number: ")

c = a + b

print(c)

Enter 1st Number: 10
Enter 2nd Number: 20
1020

In [25]:
# concat
"ABC" + "XYZ"

'ABCXYZ'

In [26]:
print(type(a))

<class 'str'>

In [27]:
a = int(input("Enter 1st Number: "))
b = int(input("Enter 2nd Number: "))

c = a + b

print(c)

Enter 1st Number: 10
Enter 2nd Number: 20
30

In [28]:
a = int(input("Enter 1st Number: "))
b = int(input("Enter 2nd Number: "))

c = a + b

print("Addition =",c)

Enter 1st Number: 10
Enter 2nd Number: 20
Addition = 30

In [30]:
a = int(input("Enter 1st Number: "))
b = int(input("Enter 2nd Number: "))

c = a + b

print("Addition of",a,"and",b,"is",c)

Enter 1st Number: 11
Enter 2nd Number: 102
Addition of 11 and 102 is 113