# Operations

In [1]:
import pandas as pd

In [3]:
weather_data = {
    'day': ['1/1/2021', '1/2/2021','1/3/2021','1/4/2021','1/5/2021','1/6/2021'],
    'temperature': [32,35,28,24,32,38],
    'windspeed': [6,7,8,2,4,3],
    'event': ['Rain', 'Sunny', 'Snow', 'Rain', 'Snow', 'Sunny']
}

In [4]:
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2021           32          6   Rain
1  1/2/2021           35          7  Sunny
2  1/3/2021           28          8   Snow
3  1/4/2021           24          2   Rain
4  1/5/2021           32          4   Snow
5  1/6/2021           38          3  Sunny

In [5]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2021           32          6   Rain
1/2/2021           35          7  Sunny
1/3/2021           28          8   Snow
1/4/2021           24          2   Rain
1/5/2021           32          4   Snow
1/6/2021           38          3  Sunny

In [6]:
df

        day  temperature  windspeed  event
0  1/1/2021           32          6   Rain
1  1/2/2021           35          7  Sunny
2  1/3/2021           28          8   Snow
3  1/4/2021           24          2   Rain
4  1/5/2021           32          4   Snow
5  1/6/2021           38          3  Sunny

In [7]:
df.set_index('day', inplace=True)

In [8]:
df

          temperature  windspeed  event
day
1/1/2021           32          6   Rain
1/2/2021           35          7  Sunny
1/3/2021           28          8   Snow
1/4/2021           24          2   Rain
1/5/2021           32          4   Snow
1/6/2021           38          3  Sunny

In [9]:
df.columns

Index(['temperature', 'windspeed', 'event'], dtype='object')

In [10]:
df.index

Index(['1/1/2021', '1/2/2021', '1/3/2021', '1/4/2021', '1/5/2021', '1/6/2021'], dtype='object', name='day')

In [11]:
df.loc['1/1/2021']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2021, dtype: object

In [12]:
type(df.loc['1/1/2021'])

pandas.core.series.Series

In [13]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2021           32          6   Rain
1  1/2/2021           35          7  Sunny
2  1/3/2021           28          8   Snow
3  1/4/2021           24          2   Rain
4  1/5/2021           32          4   Snow
5  1/6/2021           38          3  Sunny

In [14]:
df.set_index('event',inplace=True)
df

            day  temperature  windspeed
event
Rain   1/1/2021           32          6
Sunny  1/2/2021           35          7
Snow   1/3/2021           28          8
Rain   1/4/2021           24          2
Snow   1/5/2021           32          4
Sunny  1/6/2021           38          3

In [15]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2021           28          8
Snow   1/5/2021           32          4

# Different ways to create DataFrame

In [17]:
df = pd.read_csv('nyc_weather.csv')
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

### using dictionary

In [16]:
weather_data = {
    'day': ['1/1/2021', '1/2/2021','1/3/2021','1/4/2021','1/5/2021','1/6/2021'],
    'temperature': [32,35,28,24,32,38],
    'windspeed': [6,7,8,2,4,3],
    'event': ['Rain', 'Sunny', 'Snow', 'Rain', 'Snow', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2021           32          6   Rain
1  1/2/2021           35          7  Sunny
2  1/3/2021           28          8   Snow
3  1/4/2021           24          2   Rain
4  1/5/2021           32          4   Snow
5  1/6/2021           38          3  Sunny

### using excel

In [23]:
df = pd.read_excel('weather_data.xlsx', "Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [20]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [22]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

### List and tuple

In [24]:
weather_data = [
    ('1/1/2021',32,6, 'Rain'),
    ('1/2/2021',35,6, 'Rain'),
    ('1/3/2021',30,2, 'Snow'),
]

df = pd.DataFrame(weather_data)
df

          0   1  2     3
0  1/1/2021  32  6  Rain
1  1/2/2021  35  6  Rain
2  1/3/2021  30  2  Snow

In [25]:
weather_data = [
    ('1/1/2021',32,6, 'Rain'),
    ('1/2/2021',35,6, 'Rain'),
    ('1/3/2021',30,2, 'Snow'),
]

df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed event
0  1/1/2021           32          6  Rain
1  1/2/2021           35          6  Rain
2  1/3/2021           30          2  Snow

### list of dictionary

In [26]:
weather_data = [
    {'day':'1/1/2021','temperature':32,'windspeed':6, 'event' :'Rain'},
    {'day':'1/2/2021','temperature':31,'windspeed':4, 'event' :'Snow'},
    {'day':'1/3/2021','temperature':32,'windspeed':6, 'event' :'Rain'},
]

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed event
0  1/1/2021           32          6  Rain
1  1/2/2021           31          4  Snow
2  1/3/2021           32          6  Rain

In [27]:
df

        day  temperature  windspeed event
0  1/1/2021           32          6  Rain
1  1/2/2021           31          4  Snow
2  1/3/2021           32          6  Rain

# write to csv

In [28]:
df.to_csv('indore.csv', index=True)
df

        day  temperature  windspeed event
0  1/1/2021           32          6  Rain
1  1/2/2021           31          4  Snow
2  1/3/2021           32          6  Rain

# write to excel

In [29]:
df.to_excel('goa.xlsx', sheet_name="weather", index=True)