# Steps to build a regression model

1. Collect/Extract Data
2. Pre-process the data
3. EDA/ data exploration
4. Dividing data into training and validation datasets
5. Build a model
6. perform model diagnostics
7. Validate the model


# Regression Model

<img src='q.png' />


n observation


<img src='w.png' />


calculate error

<img src='e.png' />

In [ ]:
y = mx + c + e
y = b1x + b0 + e

sum of squared errors (SSE)

<img src='r.png' />

calculate b1 and b0

<img src='t.png' />

In [ ]:
area    price   b1           y = b1x + b0          y = 700(x) + 100
1000    500000      =>  500000 = b1(1000) + b0
2000    600000      =>  600000 = b1(2000) + b0
              
          sumation(b1)

In [ ]:
# model.predict(5000)

# Example

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('MBASSData.csv')

df.head()

,age,sex,gmat_tot,gmat_qpc,gmat_vpc,gmat_tpc,s_avg,f_avg,quarter,work_yrs,frstlang,salary,satis
0,23,2,620,77,87,87,3.4,3.00,1,2,1,0,7
1,24,1,610,90,71,87,3.5,4.00,1,2,1,0,6
2,24,1,670,99,78,95,3.3,3.25,1,2,1,0,6
3,24,1,570,56,81,75,3.3,2.67,1,1,1,0,7
4,24,2,710,93,98,98,3.6,3.75,1,2,1,999,5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       274 non-null    int64
 1   sex       274 non-null    int64
 2   gmat_tot  274 non-null    int64
 3   gmat_qpc  274 non-null    int64
 4   gmat_vpc  274 non-null    int64
 5   gmat_tpc  274 non-null    int64
 6   s_avg     274 non-null    float64
 7   f_avg     274 non-null    float64
 8   quarter   274 non-null    int64
 9   work_yrs  274 non-null    int64
 10  frstlang  274 non-null    int64
 11  salary    274 non-null    int64
 12  satis     274 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 28.0 KB

In [4]:
import statsmodels.api as sm

In [5]:
X = sm.add_constant(df['gmat_tot'])
X.head()

   const  gmat_tot
0    1.0       620
1    1.0       610
2    1.0       670
3    1.0       570
4    1.0       710

In [6]:
Y = df['salary']
Y

0           0
1           0
2           0
3           0
4         999
        ...
269    104000
270    105000
271    115000
272    126710
273    220000
Name: salary, Length: 274, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(X,Y, train_size=0.8,
                                                random_state=45)

print("xtrain: ", xtrain.shape)
print("xtest: ", xtest.shape)
print("ytrain: ", ytrain.shape)
print("ytest: ", ytest.shape)

xtrain:  (219, 2)
xtest:  (55, 2)
ytrain:  (219,)
ytest:  (55,)

In [12]:
model1 = sm.OLS(ytrain, xtrain).fit()  # y = b1x + b0 + e

print(model1.params)

const       64322.732190
gmat_tot      -35.317369
dtype: float64

In [ ]:
b0 = 64322.73
b1 = -35.31

salary = -35.31 * (gmat_tot) + 64322.73

In [13]:
salary = -35.31 * (700) + 64322.73

salary

39605.73

In [14]:
model1.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                   Results: Ordinary least squares
=====================================================================
Model:                OLS              Adj. R-squared:     -0.003
Dependent Variable:   salary           AIC:                5383.6195
Date:                 2023-01-17 20:37 BIC:                5390.3977
No. Observations:     219              Log-Likelihood:     -2689.8
Df Model:             1                F-statistic:        0.3252
Df Residuals:         217              Prob (F-statistic): 0.569
R-squared:            0.001            Scale:              2.7525e+09
---------------------------------------------------------------------
           Coef.     Std.Err.     t    P>|t|     [0.025      0.975]
---------------------------------------------------------------------
const    64322.7322 38352.3164  1.6772 0.0950 -11268.0076 139913.4719
gmat_tot   -35.3174    61.9358 -0.5702 0.5691   -157.3902     86.7555
---------------------------------------------------------------------
Omnibus:               101.383        Durbin-Watson:           2.163
Prob(Omnibus):         0.000          Jarque-Bera (JB):        25.078
Skew:                  0.586          Prob(JB):                0.000
Kurtosis:              1.828          Condition No.:           6699
=====================================================================
* The condition number is large (7e+03). This might indicate
strong multicollinearity or other numerical problems.
"""

<img src='one.png' />

<img src='two.png' />

<img src='three.png' />